.header{
font-size: 100px;
    text-align: left;
    background-image: url(resources/Goose%20banner.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: right;
    color: #fff;
    height: 300px;
}
html{ 
    font-size: 30px !important;
    margin: 0;
}
body{
    margin: 0;
    
}
#geesehub{
    padding: 40px;
    padding-top: 90px;
    font-family: arial;
    
}
.main-content{
    font-size: 20px !important;
    color: green;
    max-width: 70vw;
    margin-left: 15vw;
}
.mdl-tabs__tab-bar{
    background-color: #ffc600;
    
}
#gooseimages img,#geeseimages img, #spotifyimages img{
    width: 200px;
    height: 200px;
}